<h1>Add Household</h1>
<div>
  <label for="frame">Name</label>
  <input id="name" [(ngModel)]="name">
</div>
<div>
  <label for="frame">Sex</label>
  <input type="radio" id="male" name="sex" value="male" [(ngModel)]="sex">
  <label for="male">Male</label>
  <input type="radio" id="female" name="sex" value="female" [(ngModel)]="sex">
  <label for="female">Female</label>
</div>
<div>
  <label for="frame">Active</label>
  <input type="checkbox" id="active" [(ngModel)]="active">
</div>
<!--//TODO: logo-->
<div>
  <label for="frame">Founding Year</label>
  <input id="year" [(ngModel)]="year">
</div>
<div>
  <label for="frame">Location</label>
  <input id="location" [(ngModel)]="location">
</div>
<div>
  <label for="frame">Household Verse</label>
  <input id="verse" [(ngModel)]="verse">
</div>
<!--//TODO: saints-->
<!--//TODO: pillars-->
<!--//TODO: commitments-->
<div>
  <label for="frame">Household Covenant</label>
  <input id="covenant" [(ngModel)]="covenant">
</div>
<div>
  <label for="frame">Big/Little Title</label>
  <input id="big_little_title" [(ngModel)]="big_little_title">
</div>
<div>
  <label for="frame">Sibling Household</label>
  <ng-create-household id="household_name" [(ngModel)]="household_name"></ng-create-household>
</div>
<div>
  <label for="frame">Description</label>
  <input id="description" [(ngModel)]="description">
</div>
<!--//TODO: photos-->
<!--//TODO: aesthetics-->
<!--//TODO: news-->
<div>
  <input type="button" value="Add" (click)="save()">
</div>