<h1>Create Photo</h1>
    <div>
      <label for="frame">Photo Name</label>
      <input id="name" [(ngModel)]="name">
    </div>
    <div>
      <label for="frame">Description of photo</label>
      <input id="description" [(ngModel)]="description">
    </div>
    <div>
      <label for="frame">Alternate of photo</label>
      <input id="alternate" [(ngModel)]="alternate">
    </div>
    <div>
      <input type="file" value="Browse Files" (change)="onfileselected($event)">
    </div>
    <div>
      <input type="button" value="Add" (click)="save()">
    </div>